<div id="page">
    <div class="ten columns">
        <p><% insult %></p>
    </div>
    <div class="six columns">
        <strong>Proudly built with Perl</strong>
        <ul class="circle">
            <li><a href="http://www.perl.org/">Get Perl</a></li>
            <li><a href="https://www.openshift.com/promotions/ebook">Based on free Openshift book</a></li>
            <li><a href="http://blogs.perl.org/users/ovid/">Written by Ovid</a></li>
            <li>Sponsored by <a href="http://www.allaroundtheworld.fr/">All Around The World</a></li>
            <li><a href="https://github.com/Ovid/openshift-perl">Fork me on Github</a></li>
        </ul>
    </div>
</div>
