# BEGIN dancer application htaccess
RewriteEngine On
RewriteRule ^server-status$ - [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) /index.pl/$1 [QSA,L]
# END dancer application htaccess
